<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid d-flex justify-content-between">
        <div class="logo">
            <img src="../../../../assets/logo.png" style="width:30px; height: 30px;" class="m-2">
            <a class="navbar-brand text-white text-uppercase" style="font-family: 'Lucida Sans'; font-size: 1rem; vertical-align: middle;">video course</a>
        </div>
      
      <div>
        <div class="navbar-nav">
          <a class="nav-link text-white" aria-current="page" routerLink="/courses" routerLinkActive="active" >Courses</a>
          <a class="nav-link text-white" routerLink="/about" routerLinkActive="active">About</a>
        </div>
      </div>

    </div>
  </nav>
